<div class="courses">
  <ul class="courses__list">
    <li *ngFor="let course of courses$ | async" class="courses__element">
      <mat-icon class="courses__course-icon">movie</mat-icon>
      <div class="courses__course-description">
        <span class="courses__course-author">{{course.author}}</span>
        <h2 class="courses__course-title">{{course.title}}</h2>
        <span class="courses__course-scope">{{course.scope}}</span>
        <mat-divider></mat-divider>
      </div>
    </li>
  </ul>
</div>
