<div class="book__element">
  <div class="book__left-side">
    <mat-icon class="book__icon">library_books</mat-icon>
    <form autocomplete="off" class="book__description" [formGroup]="bookDetailsForm">
      <span class="book__author">{{book.author}}</span>
      <div *ngIf="editedBookId === book.id; else elseBlockForTitle">
        <mat-form-field class="book__form-field">
          <input formControlName="title" matInput>
        </mat-form-field>
      </div>
      <ng-template #elseBlockForTitle>
        <h2 class="book__title">{{book.title}}</h2>
      </ng-template>
      <span class="book__scope">{{book.scope}}</span>
      <mat-divider></mat-divider>
    </form>
  </div>
  <button
    (click)="onEdit(book.id, book.title)"
    *ngIf="editedBookId !== book.id"
    class="book__edit-button">
    <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-flat-button
    color="accent"
    *ngIf="editedBookId === book.id"
    (click)="onSave(book.id)"
    class="book__save-button">
    <mat-icon class="book__save-icon">save</mat-icon>
  </button>
</div>
